<!DOCTYPE html>
<html>
  <head>
    <title>inicio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenidos a peliculas</h1>
    <a href="/movies"><button style="color: green;">Ver peliculas</button></a>
  </body>
</html>
